<html>
<head>

</head>
<body>
  <form action="/user/add_trips" method="POST">
  <label>Enter trip location:</label>  <input type="text" name="tripLocation"/> <br />
  <label>Enter departure date:</label>   <input type="date" name="tripDepartureDate"/><br />
  <label>Enter return date:</label>   <input type="date" name="tripReturnDate"/><br />
  <label>Enter image URL:</label>   <input type="text" name="imageUrl"/><br />
    <input type="submit" value="Add trip"/>
  </form>
  <a href="/user/mytrips"><button>Back to my trips</button></a>
</body>
</html>
